@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: oklch(68.383% 0.21402 7.99);
  --color-primary-text: oklch(100% 0.00011 271.152);
  --color-primary-hover: oklch(60.383% 0.21402 7.99);

  --color-energy: #ffd375;
  --color-energy-outline: #a06f06;

  --color-streak: var(--color-primary);
  --color-streak-outline: #9f1e42;

  --color-gem: #c77dff;
  --color-gem-outline: #9d4edd;

  --color-background: oklch(22.383% 0.03083 267.192);
  --color-background-text: oklch(100% 0.00011 271.152);

  --color-secondary: oklch(88.531% 0.0001 271.152);
  --color-secondary-text: oklch(0% 0 0);
  --color-secondary-hover: oklch(78.531% 0.0001 271.152);

  --color-input: oklch(22.383% 0.03083 267.192);
  --color-input-text: oklch(100% 0.00011 271.152);
  --color-placeholder: oklch(100% 0.00011 271.152 / 0.5);

  --color-border: oklch(38.187% 0.05028 267.532);

  --font-web: "Space Mono", "Google Sans", system-ui, sans-serif;
  --radius: 0.25rem;

  --size-xs-padding: 0.1rem 0.5rem;
  --size-xs-font-size: 0.75rem;

  --size-sm-padding: 0.25rem 1rem;
  --size-sm-font-size: 0.875rem;

  --size-md-padding: 0.5rem 1.5rem;
  --size-md-font-size: 1rem;

  --size-lg-padding: 1rem 3rem;
  --size-lg-font-size: 1.25rem;

  --container-size: 1024px;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-background-text);
  font-family: var(--font-web);
}
