node_modules/
dist/
.env

node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

server/src/generated/prisma/
*storybook.log
storybook-static
*.module.css.d.ts