package-lock.json linguist-generated=true
package-lock.json linguist-vendored
client/package-lock.json linguist-generated=true
client/package-lock.json linguist-vendored
server/package-lock.json linguist-generated=true
server/package-lock.json linguist-vendored