@reference "#/styles/main.css";

.avatar {
  --size: 3rem;
  --font-ratio: 0.4;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  box-sizing: border-box;
  inline-size: var(--size);
  block-size: var(--size);
  font-size: max(0.5rem, calc(var(--size) * var(--font-ratio)));
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: none;
}

.fallback {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
  color: var(--color-primary-text);
}

.image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
  pointer-events: none;
}
