@reference "../../styles.css";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  overflow: hidden;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 0.625rem;
  background-color: oklch(18% 0.025 267);
  border-bottom: 1px solid var(--color-border);
  flex-shrink: 0;
  justify-content: space-between;
}

.languageSelect {
  background-color: var(--color-input);
  color: var(--color-input-text);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  padding: var(--size-xs-padding);
  font-size: var(--size-xs-font-size);
  font-family: var(--font-web);
  cursor: pointer;
  outline: none;
}

.languageSelect:focus {
  border-color: var(--color-primary);
}

.editorWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  font-family: var(--font-mono);
}

.editorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.editorSidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-border);

  background-color: oklch(18% 0.025 267);
}

.editorLabel {
  font-size: var(--size-sm-font-size);
  margin-left: 0.25rem;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
  color: var(--color-text);
}

.editorStdin {
  display: flex;
  flex-direction: column;
  textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: var(--size-xs-padding);
    font-size: var(--size-xs-font-size);
    font-family: var(--font-mono);
    background-color: var(--color-input);
    color: var(--color-input-text);
  }
}

.editorStdout {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  pre {
    width: 100%;
    height: 100px;
    overflow: auto;
    padding: 0.25rem;
    font-size: var(--size-xs-font-size);
    font-family: var(--font-mono);
    background-color: var(--color-input);
    color: var(--color-input-text);
  }
}
