@reference "#/styles/main.css";

.button {
  --padding-x: var(--size-md-padding-x);
  --padding-y: var(--size-md-padding-y);
  --btn-sizing: var(--padding-y) var(--padding-x);
  --btn-font-size: var(--size-md-font-size);
  --btn-color: var(--color-primary);
  --btn-text-color: var(--color-primary-text);
  --btn-hover-color: color-mix(in oklch, var(--btn-color), black 15%);
  --btn-radius: var(--radius);

  background-color: var(--btn-color);
  color: var(--btn-text-color);
  padding: var(--btn-sizing);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-radius);
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.25rem;

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }

  &:focus {
    outline: 2px solid color-mix(in oklch, var(--btn-hover-color) 50%, transparent);
    outline-offset: 2px;
  }

  &.primary {
    --btn-color: var(--color-primary);
    --btn-text-color: var(--color-primary-text);
  }

  &.secondary {
    --btn-color: var(--color-secondary);
    --btn-text-color: var(--color-secondary-text);
  }

  &.ghost {
    --btn-color: transparent;
    --btn-text-color: var(--color-background-text);
    --btn-hover-color: transparent;
  }

  &.icon {
    --padding-x: var(--padding-y) !important;
    aspect-ratio: 1 / 1;
    height: 100%;
  }

  &.danger {
    --btn-color: var(--color-danger);
    --btn-text-color: var(--color-danger-text);
  }

  &.success {
    --btn-color: var(--color-success);
    --btn-text-color: var(--color-success-text);
  }

  &.size-xs {
    --padding-x: var(--size-xs-padding-x);
    --padding-y: var(--size-xs-padding-y);
    --btn-font-size: var(--size-xs-font-size);
  }

  &.size-sm {
    --padding-x: var(--size-sm-padding-x);
    --padding-y: var(--size-sm-padding-y);
    --btn-font-size: var(--size-sm-font-size);
  }

  &.size-md {
    --padding-x: var(--size-md-padding-x);
    --padding-y: var(--size-md-padding-y);
    --btn-font-size: var(--size-md-font-size);
  }

  &.size-lg {
    --padding-x: var(--size-lg-padding-x);
    --padding-y: var(--size-lg-padding-y);
    --btn-font-size: var(--size-lg-font-size);
  }

  &.block {
    width: 100%;
  }

  &.pilled {
    --btn-radius: 20rem;
  }

  &.square {
    --btn-radius: 0;
  }

  &[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  svg {
    width: var(--btn-font-size);
    height: var(--btn-font-size);
  }
}
