@reference "#/styles/main.css";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
  letter-spacing: 0.2rem;
  span {
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 0.25rem;
    background-color: var(--color-user-background);
    color: black;
    border-radius: var(--radius);
  }
}
