@reference "#/styles/main.css";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.empty {
  --progress-bar-color: var(--color-placeholder);
}

.weak {
  --progress-bar-color: var(--color-danger);
}

.fair {
  --progress-bar-color: var(--color-warning);
}

.strong {
  --progress-bar-color: var(--color-success);
}

.label {
  font-size: var(--size-xs-font-size);
  color: var(--color-placeholder);
}

.labelWeak {
  color: var(--color-danger);
}

.labelFair {
  color: var(--color-warning);
}

.labelStrong {
  color: var(--color-success);
}
