.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-border); /* 💡 ใช้ Token สีแทน Hex code */
  color: var(--color-input-text);
  border-radius: 12px;
  padding: 12px 24px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rankNumber {
  font-size: 1.25rem;
  font-weight: 500;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.username {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.streakWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.streakText {
  font-weight: 700;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 7px;
}

.xpNumber {
  font-size: 24px;
  font-weight: 700;
}

.xpLabel {
  font-size: 20px;
  font-weight: 700;
}
