@reference "../../styles.css";

.hexagonWrapper {
    --hex-size: 120px;
    --bg-color: #99ffff;
    --border-color: #3b9ab8;
    --text-color: #3b9ab8;


    position:  relative;
    width: var(--hex-size);
    height: calc(var(--hex-size));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--hex-size)*0.1) 0;
}

.hexagonSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 2;
    color: var(--text-color);
    font-size: clamp(calc(var(--hex-size) * 0.2), calc(var(--hex-size) * 0.467), calc(var(--hex-size) * 0.467));    font-family: "Segeo UI, Tahoma, Geneva, Verdana, sans-serif";
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    overflow: hidden;
}

.squareOuter {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--border-color);
    clip-path: none;
    border-radius: calc(var(--hex-size)*0.32);
    transition: all 0.3 ease;
}

.squareInner {
    position: absolute;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 88%;
    background-color: var(--bg-color);
    clip-path: none;
    border-radius: calc(var(--hex-size)*0.28);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    z-index: 2;
    color: var(--text-color);
    font-size: clamp(calc(var(--hex-size) * 0.2), calc(var(--hex-size) * 0.467), calc(var(--hex-size) * 0.467));    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    overflow: hidden;
}
