@reference "../../styles.css";

.admin-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--color-background);
}

.admin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}
